// -------------------------------------------
// Color Settings
// -------------------------------------------
// base
$base-color-primary: #efeeea;
$base-color-secondary: #000000;

// text color
$text-color-primary: #000000;
$text-color-secondary: #efeeea;

// key
$key-color-black: #000000;
$key-color-white: #ffffff;
$key-color-gray: #b5b5b5;
$key-color-purple: #745399;

// background
$color-body-background-primary: $base-color-primary;
$color-body-background-secondary: $base-color-primary;

// -------------------------------------------
// Typeface Settings
// -------------------------------------------
$font-primary: 'neue-haas-grotesk-display', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
$font-secondary: 'baskerville-urw', serif;

// -------------------------------------------
// Break Points
// -------------------------------------------
$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1200px,
  'xxl': 1440px,
) !default;

// -------------------------------------------
// Transitions
// -------------------------------------------
$transition-primary: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);