// -------------------------------------------
// Color Settings
// -------------------------------------------
// base
// $base-color-primary: rgba(239, 238, 234, 1);
$base-color-primary: rgba(254, 254, 254, 1);
$base-color-secondary: rgba(0, 0, 0, 1);

// text color
$text-color-primary: rgba(0, 0, 0, 1);
// $text-color-secondary: rgba(239, 238, 234, 1);
$text-color-secondary: rgba(254, 254, 254, 1);

// key
$key-color-black: rgba(0, 0, 0, 1);
$key-color-white: rgba(254, 254, 254, 1);
$key-color-lightgray: rgba(181, 181, 181, 1);
$key-color-darkgray: rgba(54, 53, 54, 1);
$key-color-bluegray: rgba(113, 128, 150, 1);
$key-color-purple: rgba(116, 83, 153, 1);

// background
$color-body-background-primary: $base-color-primary;
$color-body-background-secondary: $base-color-secondary;

// -------------------------------------------
// Typeface Settings
// -------------------------------------------
$font-primary: 'neue-haas-grotesk-display', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
$font-secondary: 'baskerville-urw', serif;

// -------------------------------------------
// Break Points
// -------------------------------------------
$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1200px,
  'xxl': 1440px,
) !default;

// -------------------------------------------
// Transitions
// -------------------------------------------
$transition-primary: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);