// -------------------------------------------
// Color Settings
// -------------------------------------------
// base
$base-color-primary: rgb(239, 238, 234);
$base-color-secondary: rgb(0, 0, 0);

// text color
$text-color-primary: rgb(0, 0, 0);
$text-color-secondary: rgb(239, 238, 234);

// key
$key-color-black: rgb(0, 0, 0);
$key-color-white: rgb(255, 255, 255);
$key-color-lightgray: rgb(181, 181, 181);
$key-color-darkgray: rgb(54, 53, 54);
$key-color-bluegray: rgb(113, 128, 150);
$key-color-purple: rgb(116, 83, 153);

// background
$color-body-background-primary: $base-color-primary;
$color-body-background-secondary: $base-color-secondary;

// -------------------------------------------
// Typeface Settings
// -------------------------------------------
$font-primary: 'neue-haas-grotesk-display', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
$font-secondary: 'baskerville-urw', serif;

// -------------------------------------------
// Break Points
// -------------------------------------------
$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1200px,
  'xxl': 1440px,
) !default;

// -------------------------------------------
// Transitions
// -------------------------------------------
$transition-primary: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);