html {
  height: 100%;
  font-family: $font-primary;
  font-size: 10px;

  // lightMode
  &.light-mode {
    background-color: $color-body-background-primary;
    color: $text-color-primary;
  }

  // darkMode
  &.dark-mode {
    background-color: $color-body-background-secondary;
    color: $text-color-secondary;
  }
}

body {
  height: 100%;
  line-height: 1.0;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

// h1,
// h2,
// h3,
// h4,
// h5,
strong {
  font-weight: bold;
}

input,
textarea {
  max-width: 100%;
  font-family: inherit;
  font-size: 100%;
}

ul,
ol {
  list-style-type: none;
}