// -------------------------------------------
// Common Typeface
// -------------------------------------------
.isSerif {
  font-family: $font-secondary;
  font-weight: 400;
  font-style: normal;
}

 .isColoring {
   color: $key-color-purple;
 }

.isSp {
  display: none;

  @include mq(sm) {
    display: block;
  }
}


// -------------------------------------------
// Common Layout
// -------------------------------------------
.index-wrapper {
  width: 100%;
  height: 100%;
  min-height: calc(var(--vh, 1vh) * 100);

  // section
  &__section {
    width: 100%;
    height: 100%;
    padding: 11.5rem 8vw;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &:not(.isFirst) {
      opacity: 0;
      visibility: hidden;
    }

    @include mq(sm) {
      padding: 10.7rem 2.4rem;
    }
  }

  // list
  &__list {
    position: fixed;
    bottom: 4rem; left: 4rem;
    z-index: 1;

    @include mq(sm) {
      display: none;
    }
  }
}

.section-inner {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

  @include mq(sm) {
    margin-bottom: 0;
  }

  // number
  &__number {
    display: none;

    @include mq(sm) {
      display: inline-block;
      position: fixed;
      top: 8.7rem; right: 0; left: 0;
      font-size: 1.4rem;
      font-weight: 500;
    }

    &--text {

      .number-border {
        display: inline-block;
        content: '';
        width: 2rem;
        border-top: 1px solid $key-color-black;
        padding-bottom: 0.478rem;
        margin: 0 1rem;
      }
    }
  }

  // title
  &__title {
    position: fixed;
    top: 15.5rem;

    @include mq(sm) {
      top: 12.7rem;
    }

    &--text {
      font-size: max(2vw, 2rem);
      font-weight: 500;
      letter-spacing: 0.04em;

      @include mq(sm) {
        font-size: 1.6rem;
      }
    }
  }

  // heading
  &__heading {
    margin-bottom: 4rem;
    line-height: 1.25;

    @include mq(sm) {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }

    &--text {
      font-size: max(3.2vw, 3.2rem);

      @include mq(sm) {
        font-size: 2.4rem;
      }
    }
  }

  // body
  &__body {
    line-height: 2;
    text-align: left;

    &--text {
      font-size: max(1.4vw, 1.4rem);
      opacity: 0.8;

      @include mq(sm) {
        font-size: 1.4rem;
      }
    }
  }

}

// dark-mode
html.dark-mode .section-inner__number--text .number-border {
  border-top: 1px solid $key-color-white;
}


// introduction
.introduction-wrapper {
  width: 100%;
  height: auto;
  position: relative;

  // greet
  &__greet {
    width: 100%;
    height: auto;
    text-align: center;
    position: static;

    @include mq(sm) {
      text-align: left;
    }

    &--title {
      margin: 0 auto 2rem;
      line-height: 1.1;
      font-size: max(4.8vw, 4.8rem);

      @include mq(sm) {
        font-size: max(3.6vw, 3.6rem);
      }
    }

    &--subtitle {
      line-height: 1.5;
      font-size: max(1.2vw, 1.2rem);
      font-weight: 500;
      letter-spacing: 0.08em;

      @include mq(sm) {
        font-size: max(1vw, 1rem);
      }
    }
  }
}

.introduction-arrow {
  position: absolute;
  bottom: 12rem;
  text-align: center;

  @include mq(sm) {
    bottom: 8rem;
  }

  &__image {
    max-width: 6.6rem;
    width: 100%;
    height: auto;
    stroke: $key-color-black;
  }
}

// dark-mode
html.dark-mode .introduction-arrow__image {
  stroke: $key-color-white;
}


// contact
.contact-wrapper {

  &__heading {
    margin-bottom: 4rem;

    &--text {
      line-height: 1;
      font-size: 4.8vw;

      @include mq(sm) {
        font-size: 2.4rem;
      }
    }
  }
}


// link
.section-link {
  position: absolute;
  bottom: 16rem; right: 16rem;
  font-size: max(1vw, 1rem);
  font-weight: 500;
  letter-spacing: 0.08rem;

  @include mq(sm) {
    display: inline-block;
    right: 0; bottom: 8.2rem; left: 0;
  }

  &:after {
    position: absolute;
    top: 0.45vw;
    right: -16rem;
    content: '';
    display: inline-block;
    width: 15rem;
    height: auto;
    border-top: 1px solid $key-color-black;

    @include mq(sm) {
      top: 0; right: 0; bottom: 0; left: 0;
      width: 8.58rem;
      border-top: none;
      border-bottom: 2px solid $key-color-black;
      margin: 0 auto;
    }
  }
}

// dark-mode
html.dark-mode .section-link::after {
  border-top: 1px solid $key-color-white
}


// sns
.sns-wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 13rem; right: 0; left: 0;

  &__sns-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &--item {
      margin-left: 2rem;
      font-size: max(1.5vw, 1.5rem);

      &:first-of-type {
        margin-left: 0;
      }

      @include mq(sm) {
        font-size: 1.2rem;
      }
    }
  }
}

// -------------------------------------------
// Common Settings
// -------------------------------------------
.text-link {
  transition: $transition-primary;
}

.mouse-link {
  cursor: pointer;
}

// -------------------------------------------
// Common CSS Animations
// -------------------------------------------
// for contact
.link-wrapper-contact {
  height: 9.6vw;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;

  @include mq(sm) {
    height: 4.8rem;
  }

  &__list {
    margin-left: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &--item {

      &:last-of-type {
        opacity: 0;
      }
    }
  }
}

.link-wrapper-contact.isHover {

  .link-wrapper-contact__list {

    .link-wrapper-contact__list--item {
      transition: $transition-primary;
      transform: translateY(-100%);

      &:first-of-type {
        opacity: 0;
      }

      &:last-of-type {
        opacity: 1;
      }
    }
  }
}


// for sns
.link-wrapper-sns {
  height: 3vw;
  overflow: hidden;

  @include mq(sm) {
    height: 2.4rem;
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &--item {
      font-weight: 500;
      letter-spacing: 0.08rem;

      &:last-of-type {
        opacity: 0;
      }
    }
  }
}

.link-wrapper-sns.isHover {

  .link-wrapper-sns__list {

    .link-wrapper-sns__list--item {
      transition: $transition-primary;
      transform: translateY(-100%);

      &:first-of-type {
        opacity: 0;
      }

      &:last-of-type {
        opacity: 1;
      }
    }
  }
}


// for view more
.link-wrapper-viewmore {
  height: 2vw;
  overflow: hidden;

  @include mq(sm) {
    height: 2.4rem;
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &--item {

      &:last-of-type {
        opacity: 0;
      }
    }
  }
}

.link-wrapper-viewmore.isHover {

  .link-wrapper-viewmore__list {

    .link-wrapper-viewmore__list--item {
      transition: $transition-primary;
      transform: translateY(-100%);

      &:first-of-type {
        opacity: 0;
      }

      &:last-of-type {
        opacity: 1;
      }
    }
  }
}


// for global menu
.link-wrapper-menu {
  height: 3.6vw;
  overflow: hidden;

  @include mq(sm) {
    height: 2.4rem;
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &--item {

      &:last-of-type {
        opacity: 0;
      }
    }
  }
}

.link-wrapper-menu.isHover {

  .link-wrapper-menu__list {

    .link-wrapper-menu__list--item {
      transition: $transition-primary;
      transform: translateY(-100%);

      &:first-of-type {
        opacity: 0;
      }

      &:last-of-type {
        opacity: 1;
      }
    }
  }
}

.link-wrapper-glMenu {
  height: 3.2rem;
  overflow: hidden;
  position: relative;

  .link-cover {
    width: 100%;
    height: 100%;
    background-color: $key-color-darkgray;
    position: absolute;
    top: 0; left: 0;
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &--item {

      &:last-of-type {
        opacity: 0;
      }
    }
  }
}

.link-wrapper-glMenu.isHover {

  .link-wrapper-glMenu__list {

    .link-wrapper-glMenu__list--item {
      transition: $transition-primary;
      transform: translateY(-100%);

      &:first-of-type {
        opacity: 0;
      }

      &:last-of-type {
        opacity: 1;
      }
    }
  }
}
