// -------------------------------------------
// Test Settings
// -------------------------------------------
h2 {
  font-family: neue-haas-grotesk-display, sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}