// -------------------------------------------
// Common Typeface
// -------------------------------------------
.isSerif {
  font-family: $font-secondary;
  font-weight: 400;
  font-style: normal;
}

 .isColoring {
   color: $key-color-purple;
 }

.isSp {
  display: none;

  @include mq() {
    display: block;
  }
}

// -------------------------------------------
// Common Settings
// -------------------------------------------
.text-link {
  transition: $transition-primary;
}


// -------------------------------------------
// Common Animations
// -------------------------------------------
.link-wrapper-contact {
  height: 6vw;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;

  &__list {
    margin-left: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &--item {

      &:last-of-type {
        opacity: 0;
      }
    }
  }
}

.link-wrapper-contact.isHover {

  .link-wrapper-contact__list {

    .link-wrapper-contact__list--item {
      transition: $transition-primary;
      transform: translateY(-100%);

      &:first-of-type {
        opacity: 0;
      }

      &:last-of-type {
        opacity: 1;
      }
    }
  }
}

// for SNS
.link-wrapper-sns {
  height: 3vw;
  overflow: hidden;
  cursor: pointer;

  @include mq() {
    height: 2.4rem;
  }

  &__list {
    // margin-left: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &--item {

      &:last-of-type {
        opacity: 0;
      }
    }
  }
}

.link-wrapper-sns.isHover {

  .link-wrapper-sns__list {

    .link-wrapper-sns__list--item {
      transition: $transition-primary;
      transform: translateY(-100%);

      &:first-of-type {
        opacity: 0;
      }

      &:last-of-type {
        opacity: 1;
      }
    }
  }
}

// for VIEW MORE
.link-wrapper-viewmore {
  height: 1vw;
  overflow: hidden;
  cursor: pointer;

  @include mq() {
    height: 2.4rem;
  }

  &__list {
    // margin-left: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &--item {

      &:last-of-type {
        opacity: 0;
      }
    }
  }
}

.link-wrapper-viewmore.isHover {

  .link-wrapper-viewmore__list {

    .link-wrapper-viewmore__list--item {
      transition: $transition-primary;
      transform: translateY(-100%);

      &:first-of-type {
        opacity: 0;
      }

      &:last-of-type {
        opacity: 1;
      }
    }
  }
}

// for Global menu
.link-wrapper-menu {
  height: 2.5vw;
  overflow: hidden;
  cursor: pointer;

  @include mq() {
    height: 2.4rem;
  }

  &__list {
    // margin-left: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &--item {

      &:last-of-type {
        opacity: 0;
      }
    }
  }
}

.link-wrapper-menu.isHover {

  .link-wrapper-menu__list {

    .link-wrapper-menu__list--item {
      transition: $transition-primary;
      transform: translateY(-100%);

      &:first-of-type {
        opacity: 0;
      }

      &:last-of-type {
        opacity: 1;
      }
    }
  }
}

.link-wrapper-glMenu {
  height: 4.5vw;
  overflow: hidden;
  cursor: pointer;

  @include mq() {
    height: 4.8rem;
  }

  &__list {
    // margin-left: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &--item {

      &:last-of-type {
        opacity: 0;
      }
    }
  }
}

.link-wrapper-glMenu.isHover {

  .link-wrapper-glMenu__list {

    .link-wrapper-glMenu__list--item {
      transition: $transition-primary;
      transform: translateY(-100%);

      &:first-of-type {
        opacity: 0;
      }

      &:last-of-type {
        opacity: 1;
      }
    }
  }
}
